@(editedAdminUser: models.admin.AdminUser, form: Form[controllers.admin.adminUser.AdminUserForm.PasswordData])(adminUser: models.admin.AdminUser, request: Request[AnyContent], messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@implicitMessage = @{ messages }

@main(Messages("adminUser.editPassword.title"), None) {

  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@controllers.admin.routes.AdminHomeController.index">@Messages("admin.home.title")</a></li>
        <li class="breadcrumb-item"><a href="@controllers.admin.adminUser.routes.AdminUserController.list()">@Messages("adminUser.list.title")</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Messages("adminUser.editPassword.title")</li>
      </ol>
    </nav>

    <h1>@Messages("adminUser.editPassword.title")</h1>

    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div class="error global">@Html(Messages(error.message))</div>
      }
    }

    @b4.form(controllers.admin.adminUser.routes.AdminUserController.doEditPassword(editedAdminUser.id)) {
      @helper.CSRF.formField(request)
      @b4.password( form("passwordTuple.password"), '_label -> Messages("field.newPassword") )
      @b4.password( form("passwordTuple.repeatPassword"), '_label -> Messages("field.repeatPassword") )

      <button type="submit" class="btn btn-primary">@Messages("actions.modify")</button>
    }

  </div>

}
