@(editedAdminUser: models.admin.AdminUser, form: Form[controllers.admin.adminUser.AdminUserForm.EditData], adminRoles: List[models.admin.AdminRole])(adminUser: models.admin.AdminUser, request: Request[AnyContent], messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@implicitMessage = @{ messages }

@roles = @{ adminRoles.map(r => r.id.toString -> r.name).sortBy(_._2) }

@adminMain(Messages("adminUser.edit.title"), Some(adminUser)) {

  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@controllers.admin.routes.AdminHomeController.index">@Messages("admin.home.title")</a></li>
        <li class="breadcrumb-item"><a href="@controllers.admin.adminUser.routes.AdminUserController.list()">@Messages("adminUser.list.title")</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Messages("adminUser.edit.title")</li>
      </ol>
    </nav>

    <h1>@Messages("adminUser.edit.title")</h1>

    <a href="@controllers.admin.adminUser.routes.AdminUserController.editPassword(editedAdminUser.id)" class="btn btn-secondary btn-sm mt-2 mb-4">@Messages("actions.editPassword")</a>

    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div class="error global">@Html(Messages(error.message))</div>
      }
    }

    @b4.form(controllers.admin.adminUser.routes.AdminUserController.doEdit(editedAdminUser.id)) {
      @helper.CSRF.formField(request)
      @b4.text( form("name"), '_label -> Messages("field.name") )
      @b4.text( form("username"), '_label -> Messages("field.username") )
      @b4.select( form("roles"), options = roles, '_custom -> true, 'multiple -> true, '_label -> Messages("field.roles") )
      @b4.submit('class -> "btn btn-primary"){ @Messages("adminUser.edit.editUser") }
    }

  </div>

}
