@(form: Form[controllers.user.ChangePasswordForm.Data])(user: models.user.User, request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@implicitMessage = @{ messages }

@main(Messages("changePassword.title"), Some(user)) {

  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@controllers.www.routes.HomeController.index">@Messages("home.title")</a></li>
        <li class="breadcrumb-item"><a href="@controllers.user.routes.UserProfileController.profile(user.id)">@Messages("userProfile.title")</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Messages("changePassword.title")</li>
      </ol>
    </nav>

    <h1>@Messages("changePassword.title")</h1>

    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div class="error global">@Html(Messages(error.message))</div>
      }
    }

    @b4.form(controllers.user.routes.ChangePasswordController.doModify(user.id)) {
      @helper.CSRF.formField(request)
      @b4.password( form("currentPassword"), '_label -> Messages("field.currentPassword") )
      @b4.password( form("passwordTuple.password"), '_label -> Messages("field.newPassword") )
      @b4.password( form("passwordTuple.repeatPassword"), '_label -> Messages("field.repeatPassword") )

      <button type="submit" class="btn btn-primary">@Messages("actions.modify")</button>
    }

  </div>

}
