@(code: Int, detail: String)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Error @code">
    
    <title>Error @code</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/error.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <h1>@code</h1>
    <p id="detail">@Messages(detail)</p>
  </body>
</html>
